.App {
  height: 100vh;
  text-align: center;
  color: white;
  margin: 0;
  background-image: linear-gradient(to right bottom, #02022b, #000d3c, #00124d, #00165f, #001a71, #192182, #2b2794, #3d2ea6, #5b3abc, #7847d3, #9555e9, #b362ff);
  display: flex;
  flex-direction: column;
}

.App h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2rem;
  color:#b362ff;
}